<!DOCTYPE html>
<html>
<head>
    <title>Ivy Gallery</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      /* Custom styles for the image cards */
      .card-img-top {
          height: 500px; /* Set the desired fixed height */
          object-fit: cover; /* Maintain aspect ratio and cover the container */
      }
  </style>
</head>
<body>
  <div class="container mt-5">
      <h1 class="mb-4">Ivy Gallery</h1>
      <div class="row">
          {% for image in image_files %}
              <div class="col-md-4 mb-4">
                  <div class="card shadow-lg bg-image hover-zoom">
                      <img src="{{ url_for('static', filename='images/' + image) }}" class="card-img-top w-100" alt="{{ image }}">
                      <div class="card-body">
                        <h5>Description</h5>
                          <!--<p class="card-text">{{ image }}</p>-->
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
  </div>
  <!-- Include Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>